{#- Hide pure instance-attribute members (they tend to be noisy/empty in our docs). -#}
{#- Class attributes (like SUBSCRIBE_TO) are shown even if also labeled instance-attribute. -#}
{#- For properties and class attributes, show source code like functions do. -#}

{% if "instance-attribute" not in attribute.labels or "class-attribute" in attribute.labels %}

{% import "language.html.jinja" as lang with context %}

{% if "class-attribute" in attribute.labels %}
  {#- Custom rendering for class attributes: heading + docstring + sourcecode block -#}
  {% include "_base/attribute.html.jinja" %}

  {% if config.show_source and attribute.source %}
  <details class="sourcecode" open>
    <summary>Source</summary>
    {{ attribute.source|highlight(language="python", linestart=attribute.lineno or 0, linenums=True) }}
  </details>
  {% endif %}

{% else %}
  {#- Default rendering for properties and other attributes -#}
  {% include "_base/attribute.html.jinja" %}

  {% if "property" in attribute.labels and config.show_source and attribute.source %}
  <details class="quote">
    <summary>{{ lang.t("Source code in") }} <code>
      {%- if attribute.relative_filepath.is_absolute() -%}
        {{ attribute.relative_package_filepath }}
      {%- else -%}
        {{ attribute.relative_filepath }}
      {%- endif -%}
    </code></summary>
    {{ attribute.source|highlight(language="python", linestart=attribute.lineno or 0, linenums=True) }}
  </details>
  {% endif %}

{% endif %}

{% endif %}